<section>
<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're reaching you to notify that your email changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're reaching you to notify that your email has been changed <%= @resource.email %>.</p>
<% end %>
</section>