<section>
<p>Hey <%= @resource.email %>!</p>

<p>Someone requested a link to change your password. You can do it using the link below.</p>

<p><%= link_to 'Change password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If isn't you who requested this, please ignore this email.</p>
<p>Your password won't change until you click the link above and make new one.</p>
</section>